<%= stylesheet_link_tag "_navbar" %>

  <nav class="navbar navbar-default span6">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to "Super Store", "/", :"data-no-turbolink" => true, class: "navbar-brand" %>  
    </div>
    <!-- @user.present? -->
    <% if current_user %>

      <%= button_to "Logout", logout_path, method: "delete", class: "logoutbutton ghost-button  btn btn-default navbar-right navbar-btn" %>
      <%= button_to "Cart", orders_path, method: "get", class: "cartbutton ghost-button btn btn-default navbar-right navbar-btn" %>

    <% else %>
      <span class="navbuttons"><%= button_to "Login", sign_in_path, method: "get", class: "loginbutton ghost-button btn btn-default navbar-right navbar-btn" %>
      <%= button_to "Sign Up", new_user_path, method: "get", class: "ghost-button btn btn-default navbar-right navbar-btn" %></span>
    <% end %>
  </div><!-- /.container-fluid -->
</div>
</div>
</nav>