<!-- USERS INDEX /HOMEPAGE -->
<div class="c">

    <!-- Jumbotron Header -->
    <header class="jumbotron">
      <h1 class="maintext">Super store</h1>
      <p>Super store is known for its amazing products. They are really super. Please spend money now.
      </p>
      <p><%= button_to "See all products", products_path, method: :get, class: "ghost-button btn btn-default text-center" %>
      </p>
    </header>
    <hr>
    <div class="row">
        
    </div>

    <!-- Title -->
    <div class="row">
        <div class="col-lg-12">
            <h3 class="newArrivals">New Arrivals</h3>
        </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->

    <div class="row text-center">
      <% (0..3).each do |i| %>
        <% product = @products[i] %>
     
        <div class="col-md-3 col-sm-6 hero-feature">
            <div class="thumbnail">
                <%= image_tag product.image.url(:medium) %>
                <div class="caption">
                  <h3><%= product.title %></h3>
                  
                    <%= button_to "see product detail", product_path(product.id), method: :get, class: "ghost-button btn btn-default text-center" %>
                             <%= button_to "add to cart", order_product_users_path(product.id), :method => "post" %>
                    </p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
    <!-- /.row -->

    <hr>
</div>

