<%= stylesheet_link_tag "orders_index" %>
<h1 class="ordersh1 text-muted">Your Cart</h1>
  <ul>
    <% @products.each do |product| %>
    <li class="span3 align-center">
      <div class="thumbnail">
        <div class="caption">
          <p><strong>Product Title</strong> <%= product.title %></p>
          <p><strong>Price</strong> <%= number_to_currency(product.price)  %></p>
          <%= button_to "delete", order_product_user_path(product), :method => :delete %>
          <br/>
          
        </div>
        
      </div>
    </li>
  </ul>

<% end %>
<div class="total">
   <h2><strong>Total: <%= number_to_currency(@total) %></strong></h2>
  <a class="btn btn-success" href="#">Checkout</a>
  <%= link_to "Back to main page", root_path %>
</div>

          
        </div>
      </div>
    </li>
  </ul>
  